<div class="box">
    <h1>Actividad Integradora</h1>
    <h2>Esteban Mingrone</h2>
    {{#each products}}
        <div>
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>$ {{this.price}}</p>
        </div>
    {{/each}}
</div>